@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.pink {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

.blue {
  --clr-body-bg: rgb(154, 198, 240);
  --clr-card-bg: rgba(192, 217, 226, 0.555);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

.green {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

.dark {
  --clr-body-bg: rgb(16, 32, 48);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Georgia", sans-serif;
}

:root {
  --clr-body-bg: rgb(240, 218, 218);
  --clr-card-bg: rgb(214, 224, 243);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
}

html {
  opacity: 0.9;
  background: black;
}

body {
  min-height: 100vh;
  background-color: #4070f4;
  overflow: hidden;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  background: var(--clr-body-bg);
  color: var(--clr-text);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1340px;
}

.container,
.container-fluid .container-xxl {
  width: 100%;
  padding-right: var(0.1rem, .75rem);
  padding-left: var(0.1rem, .75rem);
  margin-right: auto;
  margin-left: auto
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: solid 1px #000000;
}

.navbar>.container,
.navbar>.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between
}

.nav-bar {
  position: relative;
  margin-top: 45px;
  padding: 0 3rem;
  transition: .5s;
  z-index: 9999;
}

.wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
}

.wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.bx {
  fill: #4070f4;
}

header h2 {
  color: #4070f4;
  font-weight: 500;
}

.wrapper .data p {
  margin-top: 16px;
}

.wrapper .data p {
  color: #333;
  font-size: 16px;
}

.data p a {
  color: #4070f4;
  text-decoration: none;
}

.data p a:hover {
  text-decoration: underline;
}

.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}

.wrapper .button .button:hover {
  background-color: #034bf1;
}

.wrapper.show {
  right: 20px;
}

#disclaimerModal {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1100px;
  padding: 10px;
  margin: auto;
  position: relative;
}

/*  */

h1,
h2,
h3 {
  color: var(--clr-heading);
  line-height: 1.1;
  margin: 10px 0;
}

p {
  padding: 0 0 5px 0;
}

.modal-footer {
  display: flex;
  border-radius: 5px;
  border: 0;
  padding: 2px;
  position: relative;
  /*pos abs if wanna move*/
  /* border: 1px red solid; */
}

.modal-content h2 {
  padding: 0 0 50px 0;
}

.auto-grid {
  --min-column-size: 225px;
  display: grid;
  gap: clamp(1rem, 5vmax, 1.625rem);
  grid-template-columns: repeat(auto-fit,
      minmax(min(100%, var(--min-column-size)), 1fr));
}

body.hide {
  display: none;
}

.wrapper2 {
  display: block;
  width: min(100% - 2rem, 1320px);
  margin-inline: auto;
  padding: 10px;
}

.card {
  padding: 1rem;
  background-color: var(--clr-card-bg);
  border-block-start: 0.5rem solid;
  border-radius: 0.5rem;
  opacity: 0.6;
  box-shadow: 1px 1px 4px 5px red;
  cursor: pointer;
}

.card :hover,
:focus {
  filter: brightness(100%);
  scale: 110%;
}

.card>* {
  margin: 0;
}

.card>*:not(:last-child) {
  margin-bottom: 0.75rem;
}

#card {
  border: red solid 1px;
}

#card-holder {
  opacity: 0.4;
  background-image: url(blog1.webp);
}

#show {
  display: flex;
  justify-content: space-evenly;
}

.back-to-top {
  position: fixed;
  right: 20px;
  top: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
}

[class="hol"] {
  display: flex;
  justify-content: center;
}

.hol {
  display: flex;
  max-width: 1320px;
  justify-content: space-evenly;
  align-items: center;
}

ol {
  list-style-type: none;
}

/*clr picker*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  /* background: rgb(245, 67, 67); */
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
  /* opacity: 0.3; */
  outline: hsla(0, 100%, 50%, 0.3) solid 1px;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
  --radio-color: rgb(240, 192, 255);
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#green {
  --radio-color: green;
}

.color-picker input[type="radio"]#dark {
  --radio-color: #1f0505;
}

:root:has(#pink:checked) {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

:root:has(#green:checked) {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

:root:has(#dark:checked) {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}
.msg{
padding: 70px;
border-radius: 50px;
outline: 1px solid red;
}
/*** Footer ***/
footer,.links{
  border-top: 1px solid rgb(161, 161, 161);
  opacity: 0.5;
}
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
  border-color: var(--light);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  /* \f105 */
  content: ">";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}


/*--------------------------------------------bootstrap----------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.pt-5 {
  padding-top: 3rem !important
}

.mt-5 {
  margin-top: 3rem !important
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%
}

.mb-4 {
  margin-bottom: 1.5rem !important
}

.ps-4 {
  padding-left: 1.5rem !important
}

.pt-2 {
  padding-top: .5rem !important
}

.pe-5 {
  padding-right: 3rem !important
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important
}

.me-3 {
  margin-right: 1rem !important
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333%;
}

.ms-auto {
  margin-left: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.img-fluid {
  max-width: 100%;
  height: auto
}



.btn-link {
  font-weight: 400;
  color: #00B98E;
  text-decoration: none
}

.btn-link:hover {
  color: #009472
}

.btn-link:disabled,
.btn-link.disabled {
  color: #6c757d
}

.bg-light {
  background-color: #EFFDF5 !important
}

.btn-link:hover {
  color: #009472
}

.btn-link:disabled,
.btn-link.disabled {
  color: #6c757d
}

.btn-primary {
  color: #000;
  background-color: #00B98E;
  border-color: #00B98E;
  padding: .375rem .75rem;
}

.btn-primary:hover {
  color: #000;
  background-color: #26c49f;
  border-color: #1ac099
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #000;
  background-color: #26c49f;
  border-color: #1ac099;
  box-shadow: 0 0 0 .25rem rgba(0, 157, 121, 0.5)
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  color: #000;
  background-color: #33c7a5;
  border-color: #1ac099
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(0, 157, 121, 0.5)
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #000;
  background-color: #00B98E;
  border-color: #00B98E
}

.rounded {
  border-radius: 5px !important
}

.nac-bar {
  position: relative;
  margin-top: 45px;
  padding: 0 3rem;
  transition: .5s;
  z-index: 9999;
}

.p-1 {
  padding: .25rem !important
}

.position-relative {
  position: relative !important
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666565;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.form-control:focus {
  color: #666565;
  background-color: #fff;
  border-color: #80dcc7;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(0, 185, 142, 0.25)
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control:disabled,
.form-control:read-only {
  background-color: #e9ecef;
  opacity: 1
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important
}

.w-100 {
  width: 100% !important
}

.btn-link {
  font-weight: 400;
  color: #00B98E;
  text-decoration: none
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.img-fluid {
  max-width: 100%;
  height: auto
}

.position-absolute {
  position: absolute !important
}

.top-0 {
  top: 0 !important
}

.end-0 {
  right: 0 !important
}

.row {
  display: flex;
  flex-direction: row;
}

.text-center {
  text-align: center !important
}

.text-md-start {
  text-align: left !important
}

.text-md-end {
  text-align: right !important
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important
}

.border-bottom-0 {
  border-bottom: 0 !important
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%
}

.mb-md-0 {
  margin-bottom: 0 !important
}

/*** Navbar ***/
.nav-bar {
  position: relative;
  margin-top: 45px;
  padding: 0 3rem;
  transition: .5s;
  z-index: 9999;
}

.nav-bar.sticky-top {
  position: sticky;
  padding: 0;
  z-index: 9999;
}

.navbar {
  box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar-collapse {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  max-width: 1320px;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto
}

.navbar-light .navbar-brand {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

ul {
  margin-left: 30px !important;
  list-style-type: none;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #666565;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

@media (min-width: 1400px) {

  .container,
  .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: 100%;
    margin-top: 0;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem
  }

  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto
  }

  .navbar-expand-lg .navbar-toggler {
    display: none
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    top: 100%;
    margin-top: 0;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }
}

@media (max-width: 991.98px) {
  .nav-bar {
    margin: 0;
    padding: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #EEEEEE;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.switch {
  margin: 20px;
}


.switche {
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#custom-toggle {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 40px;
  background-color: #333;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0 2px;
  margin: 0;
  cursor: pointer;
}

#custom-toggle.tgl-def::-webkit-slider-thumb {
  background-color: orange;
}

#custom-toggle.tgl-on::-webkit-slider-thumb {
  background-color: green;
}

#custom-toggle.tgl-off::-webkit-slider-thumb {
  background-color: red;
}

#custom-toggle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#custom-toggle:focus {
  outline: none;
}

.rangeActive {
  background-color: green;
}