@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Georgia", sans-serif;
}

:root {
  --clr-body-bg: rgb(240, 218, 218);
  --clr-card-bg: rgb(214, 224, 243);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
}

html {
  opacity: 0.9;
  background-image: url(blog1.webp);
}

body {
  min-height: 100vh;
  background-color: #4070f4;
  overflow: hidden;
  /* overflow: hidden scrolling disabled on 1st load*/
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  background: var(--clr-body-bg);
  color: var(--clr-text);
}

.wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
}

.wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.bx {
  fill: #4070f4;
  /*it is svg therefore fill will turn it blue*/
}

header h2 {
  color: #4070f4;
  font-weight: 500;
}

.wrapper .data p {
  margin-top: 16px;
}

.wrapper .data p {
  color: #333;
  font-size: 16px;
}

.data p a {
  color: #4070f4;
  text-decoration: none;
}

.data p a:hover {
  text-decoration: underline;
}

.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}

.wrapper .button .button:hover {
  background-color: #034bf1;
}

.wrapper.show {
  right: 20px;
}

#disclaimerModal {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1100px;
  padding: 10px;
  margin: auto;
  position: relative;
}

/*  */

h1,
h2,
h3 {
  color: var(--clr-heading);
  line-height: 1.1;
  margin: 10px 0;
}

p {
  padding: 0 0 5px 0;
}

.modal-footer {
  display: flex;
  border-radius: 5px;
  border: 0;
  padding: 2px;
  position: relative;
  /*pos abs if wanna move*/
  /* border: 1px red solid; */
}

.modal-content h2 {
  padding: 0 0 50px 0;
}

.auto-grid {
  --min-column-size: 225px;
  display: grid;
  gap: clamp(1rem, 5vmax, 1.625rem);
  grid-template-columns: repeat(auto-fit,
      minmax(min(100%, var(--min-column-size)), 1fr));
}

body.hide {
  display: none;
}

.wrapper2 {
  display: block;
  --max-width: 55rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
  padding: 10px;
}

.card {
  padding: 1rem;
  background-color: var(--clr-card-bg);
  border-block-start: 0.5rem solid;
  border-radius: 0.5rem;
  opacity: 0.6;
  box-shadow: 1px 1px 4px 5px red;
}

.card>* {
  margin: 0;
}

.card>*:not(:last-child) {
  margin-bottom: 0.75rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  /* background: rgb(255, 255, 255); */
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
  /* opacity: 0.3; */
  outline: hsla(0, 100%, 50%, 0.3) solid 1px;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
  --radio-color: rgb(240, 192, 255);
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#green {
  --radio-color: green;
}

.color-picker input[type="radio"]#dark {
  --radio-color: #1f0505;
}

.pink {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

.blue {
  --clr-body-bg: rgb(154, 198, 240);
  --clr-card-bg: rgba(192, 217, 226, 0.555);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

.green {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

.dark {
  --clr-body-bg: rgb(16, 32, 48);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}

:root:has(#pink:checked) {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

:root:has(#green:checked) {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

:root:has(#dark:checked) {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}

#card {
  border: red solid 1px;
}

#card-holder {
  opacity: 0.4;
  background-image: url(blog1.webp);
}

#abc {
  display: block;
  position: fixed;
  right: 50px;
  top: 50px;
  color: red;
  background-color: black;
}